body{
    background-color: purple;
}

.allContent{
border: solid black;
border-radius: 10px;
max-width: 40%;
margin: auto;
}

h1{
    margin-top: 100px;
    text-align: center;
}

.playersText{
    margin-top: 50px;
    display:flex;
    gap:100px;
    justify-content: center;
}