body{
    background-color: purple;
    margin:0;
    padding:0;
    min-height:100vh;
    display:flex;
}

.allContent{
background-color:lemonchiffon;
border: solid black;
border-radius: 15px;
min-width:35%;
max-width: 50%;
margin: auto;
padding:auto;
box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);

}

h1{
    color:slateblue;
    margin-top: 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow:1px 1px black;
}

#whoWins{
    text-align: center;
    font-size:40px;
    color:aqua;
    font-family: 'Indie Flower', cursive;
    text-shadow:1px 1px black;
    margin:0;
}

.playersText{
    color:greenyellow;
    font-size:20px;
    display:flex;
    gap:100px;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    text-shadow:2px 2px black;
}

footer{
    margin-top: 70px;
    padding-bottom:70px;
    font-size:30px;
    text-align:center;
    font-family: 'Indie Flower', cursive;
}

a:hover{
    color:green;
    text-decoration: none;
    transition:0.1;
}
.dicesContainer{
    margin:0;
    display:flex;
    justify-content: center;
    gap:30px;
    width:100%;
}

.dicesContainer img{
    max-width:30%;
    height:auto;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .allContent {
        min-width: 90%; 
        max-width: 95%;
        min-height:90%;
        max-height: 95%;
    }
}