body{
    background-color: purple;
}

.allContent{
border: solid black;
border-radius: 10px;
max-width: 40%;
margin: auto;
}

h1{
    margin-top: 40px;
    text-align: center;
}

#whoWins{
    text-align: center;
}

.playersText{
    margin-top: 30px;
    display:flex;
    gap:100px;
    justify-content: center;
}

footer{
    margin-top: 70px;
    font-size:30px;
    text-align:center;
}

a:hover{
    color:green;
    text-decoration: none;
    transition:0.1;
}
.dicesContainer{
    margin:0;
    display:flex;
    justify-content: center;
    gap:30px;
}